

  <!DOCTYPE html>
  {%extends 'blog/home.html' %}

  {%load blog_tags%}
  {%load staticfiles%}
    {%block homeintroblock%}
  <header class='masthead'>
    <p class='masthead-intro'>Hi I'm</p>
    <h1 class='masthead-heading'>JAGAN!</h1>
  </header>


  <section class="questions-section">

    &nbsp;&nbsp;&nbsp;<p>      Welcome to jagasblog.com this is jagan  founder of jagasblog.com . I am a  Microsoft Technology
     Associate and  through this blog i am sharing my knowledge  on  Python , Django , Machine Learning and  AI .
</p>

  </section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  {%endblock%}
