<!DOCTYPE html>
{%extends 'blog/home.html' %}

{%load blog_tags%}
{%load staticfiles%}
{%block introblock%}
<header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>JAGAN!</h1>
</header>

<section class="questions-section">

  <p>  Hi, I am Jagan. I am from Anantapur (Andhrapradesh). I completed my B.Tech and M.Tech in Electrical Engineering   from JNTU Anantapur.
   From last two years i am working as Django developer. Currently i am looking for  new job opportunities  as a python developper . Know more about me and my  professional  download my cv from bellow link. You  have any opportunity intimate me.

</p>

</section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container",align='center'>
<div class="container",align='center'>
  <div class="container",align='center'>
<section  class="CV">
   &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;<a href="https://drive.google.com/open?id=1cJTKoGE09UxA7vMB1TN68gU8sGw5wXWb"><input type="submit" name="" value="Download My CV"></a>
  &nbsp;&nbsp;&nbsp;&nbsp; <a href="/contact"><input type="submit" name="" value="    Hire Me    "></a>
</section>

</div>
</div>
</div>

<footer class="content-footer">
    <p>Say hi to me on these social networks:</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="https://github.com/jagablogspot">GitHub</a></li>

    </ul>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</footer>
{%endblock%}
